/* grid templates areas */
body {
    margin: 0px;
    padding: 0px
}
.grid {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";
    min-height: 100vh;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
menu {
    grid-area: a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #bec1bb;
    background-color: #581845;
    padding: 0px;
    margin: 0px; 
}
menu i {
    font-size: 20px;
    text-align: center;
    color: #ffc300;
    padding: 10px 10px 10px 10px; 
}
menu .title {
    text-align: center;
    color: #fff;
}
menu h1 {
    margin:10px;
    margin-left: 20px;
    text-align: left;
    
}
/* Sección para escoger */
section {
    grid-area: b;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc300;
    padding: 10px;
}
section p{
    margin:10px;
    font-weight: 900;
}
section select {
    margin:10px;
    margin-top: 0px;
}
main {
    grid-area: c;
}
/* Cards */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: solid 1px #bec1bb;
    /* height: 100%; */
    align-items: center;
    background-color: #ff5733;}

main .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.cards img {
    max-width: 340%;
    height: 300%;
    /* border: solid 1px #bec1bb; */
}
.cards h3 {
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    margin: 10px;
}
.cards h4 {
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 0px 10px 10px 10px;
}
button {
    background-color: #ffc300;
    color: black;
    width: 100%;
    border: solid 1px #bec1bb;
    padding: 10px;
}

button:hover {
    background-color: #cdc3e6;
  }
/* paginación */
.pagination {
    display: flex;
    grid-area: d;
    margin: 16px 8px;
    justify-content: center;
  } 
.pagination a {
    color: black;
    float: left;
    padding: 8px 13px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #581845;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
/* footer */
footer {
    grid-area: e;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    background-color: #900c3f;
}
.iconfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ffc300;
}
footer div h4 {
    color:#fff;
    margin: 0px 16px 16px 16px;
}

/* @media (min-width: 768px) {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }   
} */
