/* grid templates areas */
body {
    margin: 0px;
    padding: 0px
}
.grid {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e";
    min-height: 100vh;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
menu {
    grid-area: a;
    background-color: #581845;
    padding: 0px;
    margin: 0px; 
}

menu .tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
menu i {
    font-size: 20px;
    text-align: center;
    color: #ffc300;
    padding: 10px 10px 10px 10px; 
}
menu .title {
    text-align: center;
    color: #fff;
}
menu h1 {
    margin:10px;
    margin-left: 20px;
    text-align: left;    
}
menu .left-menu {
    display: none;
}
/* Sección para escoger */
section {
    grid-area: b;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffc300;
    padding: 10px;
}
section p{
    margin:10px;
    font-weight: 900;
}
section select {
    margin:10px;
    margin-top: 0px;
}
main {
    grid-area: c;
    background-color: #ff5733
}
/* Cards */
main .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
}

main .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #fff;
}
.cards img {
    max-width: 340%;
    height: 300%;
    /* border: solid 1px #bec1bb; */
}
.cards h3 {
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    margin: 10px;
}
.cards h4 {
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 0px 10px 10px 10px;
}
button {
    background-color: #ffc300;
    color: black;
    width: 100%;
    border: solid 1px #bec1bb;
    padding: 10px;
}
button:hover {
    background-color: #581845;
  }
/* paginación */
.pagination {
    display: flex;
    grid-area: d;
    margin: 16px 8px;
    justify-content: center;
  } 
.pagination a {
    color: black;
    float: left;
    padding: 8px 13px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #581845;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
/* footer */
footer {
    grid-area: e;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    background-color: #900c3f;
}
.iconfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #ffc300;
    font-size: 23px;
    margin: 20px 20px 5px 16px
}
footer div h4 {
    color:#fff;
    margin: 0px 16px 0px 16px;
}
/* Agrega media small */
@media (min-width: 576px) {
.grid {
    grid-template-areas: 
    "a b"
    "a c"
    "e d";
    grid-template-columns: 1.5fr 10fr;
}
    /* menu superior y lateral */
menu {
    align-items:flex-start;
}
menu i {
    padding: 20px 10px 10px 10px; 
    font-size: 50px;
}
menu h1 {
    font-size: 30px;
}
menu .left-menu {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    margin-top: 30px;
}
menu p:hover {
    color: #ffc300;
}
menu p {
    font-weight:bold;
    font-size: 20px;
}
    /* menu principal */
main .boxes {
    align-content: flex-end;
    padding: 20px;
}
.cards {
    height: 30em;
    width: 20em; 
}
.cards img {
    max-width: 100%;
    height: 70%;
}
.bars {
    display: none;
}
.item1{
    flex-grow: 4;
}
.item2 {
    flex-grow: 1;
    margin: 10px;
}
.item3 {
    flex-grow: 1;
    margin: 10px;
}
.item4 {
    flex-grow: 2;
}
.pagination {
    height: 30%;
}
footer div h4 {
    text-align: center;
    margin: 5px;
    margin-bottom: 15px;
}
}